@font-face {
  font-family: 'kellyslab';
  src: url('kellyslab-regular-webfont.woff2') format('woff2'), 
       url('kellyslab-regular-webfont.woff') format('woff'),
       url('KellySlab-Regular.ttf')  format('truetype');

			}



body { 
    font-family: 'kellyslab';


	background: lightgreen; 

}